## Disable Directory Listing ##
Options -Indexes 

## Redirect Error document
ErrorDocument 404 http://fkennedy.tech/404.html
ErrorDocument 500 http://fkennedy.tech/500/
ErrorDocument 403 http://fkennedy.tech/403/
