// violetblue:
$color-primary-main: #60c;
$color-primary-light: #81f;
$color-primary-dark: #5900b3;

// teal:
$color-secondary-main: #007363;
$color-secondary-light: #009581;
$color-secondary-dark: #005146;

// gray:
$color-gray-1: #f7f7f7;
$color-gray-2: #f0f0f0;
$color-gray-3: #eee;
$color-gray-4: #e4e4e4;
$color-gray-5: #ccc;
$color-gray-6: #424242;
$color-gray-7: #111;
$color-gray-8: #090909;

$color-even-section: #f2f3ff;

// white:
$color-white: #fff;

// black:
$color-black: #000;
